# Assignment No.1

In [16]:
import numpy as np

In [17]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\adity\\DSBDA Assignment TEB06'

In [19]:
df1=pd.read_csv("Iris.csv")

In [34]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [35]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           NaN  Iris-setosa
2   3            NaN           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           NaN            1.4           NaN  Iris-setosa

In [37]:
df1.tail()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [36]:
df1.describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  19.000000      15.000000      16.00000       16.00000     13.000000
mean   10.000000       5.066667       3.40000        1.43750      0.223077
std     5.627314       0.408248       0.37238        0.15864      0.101274
min     1.000000       4.400000       2.90000        1.10000      0.100000
25%     5.500000       4.800000       3.07500        1.40000      0.200000
50%    10.000000       5.000000       3.40000        1.40000      0.200000
75%    14.500000       5.400000       3.72500        1.50000      0.300000
max    19.000000       5.800000       4.00000        1.70000      0.400000

In [22]:
df1.isnull().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     3
PetalLengthCm    3
PetalWidthCm     6
Species          0
dtype: int64

In [26]:
df1.dropna()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa

In [38]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [27]:
df1.dropna(axis=0)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa

In [25]:
df1.dropna(how="all")

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [39]:
df1.dropna(subset=["SepalLengthCm"])

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa

In [40]:
mean_value=df1["SepalLengthCm"].mean()

In [41]:
mean_value

5.0666666666666655

In [ ]:
df1["SepalLengthCm"] =df1["SepalLengthCm"].fillna(mean_value)

In [42]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [ ]:
mean_value=df1["SepalWidthCm"].mean()

In [43]:
mean_value

5.0666666666666655

In [ ]:
df1["SepalWidthCm"] =df1["SepalWidthCm"].fillna(mean_value)

In [44]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa

In [ ]:
mean_value=df1["PetalLengthCm"].mean()

In [46]:
mean_value

5.0666666666666655

In [47]:
df1["PetalLengthCm"] =df1["PetalLengthCm"].fillna(mean_value)

In [48]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5       1.400000           0.2  Iris-setosa
1    2            4.9           3.0       1.400000           NaN  Iris-setosa
2    3            NaN           3.2       1.300000           0.2  Iris-setosa
3    4            4.6           3.1       1.500000           0.2  Iris-setosa
4    5            5.0           NaN       1.400000           NaN  Iris-setosa
5    6            5.4           3.9       1.700000           0.4  Iris-setosa
6    7            4.6           3.4       1.400000           0.3  Iris-setosa
7    8            5.0           3.4       5.066667           0.2  Iris-setosa
8    9            4.4           2.9       1.400000           NaN  Iris-setosa
9   10            NaN           3.1       1.500000           0.1  Iris-setosa
10  11            5.4           3.7       1.500000           0.2  Iris-setosa
11  12            4.8           NaN       1.600000           NaN  Iris-setosa
12  13            4.8           3.0       5.066667           0.1  Iris-setosa
13  14            NaN           3.0       1.100000           0.1  Iris-setosa
14  15            5.8           4.0       1.200000           0.2  Iris-setosa
15  16            5.7           NaN       1.500000           NaN  Iris-setosa
16  17            5.4           3.9       5.066667           0.4  Iris-setosa
17  18            5.1           3.5       1.400000           0.3  Iris-setosa
18  19            NaN           3.8       1.700000           NaN  Iris-setosa

In [ ]:
mean_value=df1["PetalWidthCm"].mean()

In [49]:
mean_value

5.0666666666666655

In [ ]:
df1["PetalWidthCm"] =df1["PetalWidthCm"].fillna(mean_value)

In [50]:
df1

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5       1.400000           0.2  Iris-setosa
1    2            4.9           3.0       1.400000           NaN  Iris-setosa
2    3            NaN           3.2       1.300000           0.2  Iris-setosa
3    4            4.6           3.1       1.500000           0.2  Iris-setosa
4    5            5.0           NaN       1.400000           NaN  Iris-setosa
5    6            5.4           3.9       1.700000           0.4  Iris-setosa
6    7            4.6           3.4       1.400000           0.3  Iris-setosa
7    8            5.0           3.4       5.066667           0.2  Iris-setosa
8    9            4.4           2.9       1.400000           NaN  Iris-setosa
9   10            NaN           3.1       1.500000           0.1  Iris-setosa
10  11            5.4           3.7       1.500000           0.2  Iris-setosa
11  12            4.8           NaN       1.600000           NaN  Iris-setosa
12  13            4.8           3.0       5.066667           0.1  Iris-setosa
13  14            NaN           3.0       1.100000           0.1  Iris-setosa
14  15            5.8           4.0       1.200000           0.2  Iris-setosa
15  16            5.7           NaN       1.500000           NaN  Iris-setosa
16  17            5.4           3.9       5.066667           0.4  Iris-setosa
17  18            5.1           3.5       1.400000           0.3  Iris-setosa
18  19            NaN           3.8       1.700000           NaN  Iris-setosa

In [51]:
import pandas as pd

In [52]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [53]:
iris=pd.read_csv(csv_url,header=None)

In [54]:
col_name=["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm","Species"]

In [55]:
iris=pd.read_csv(csv_url,names=col_name)

In [56]:
print(iris)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
df1.groupby

<bound method DataFrame.groupby of     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           NaN  Iris-setosa
2    3            NaN           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           NaN            1.4           NaN  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            NaN           0.2  Iris-setosa
8    9            4.4           2.9            1.4           NaN  Iris-setosa
9   10            NaN           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           NaN            1.6           NaN  Iris-setosa
12  13            4.8           3.0            NaN           0.1  Iris-setosa
13  14            NaN           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           NaN            1.5           NaN  Iris-setosa
16  17            5.4           3.9            NaN           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            NaN           3.8            1.7           NaN  Iris-setosa>

In [30]:
df1.index

RangeIndex(start=0, stop=19, step=1)